<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CarRental.AppConfig.Settings1.SQLConnect" connectionString="Data Source=DK\SQLEXPRESS;Initial Catalog=CARRENTAL;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>